.main-bar {
  height: 100vh;
  width: 100%;
  .search-bar {
    background-color: green;
    height: 100px;
  }
  .tool-bar {
    background-color: pink;
    height: 50px;
  }
  .text-box {
    background-color: white;

  }

  
}